<!DOCTYPE html>
<html>
<head>
<title>Analytics</title>
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="sidebar">
<h2>FinanceAI</h2>
<a href="/">Dashboard</a>
<a href="/analytics">Analytics</a>
<a href="/history">History</a>
<a href="/logout">Logout</a>
</div>

<div class="main">
<h1>Analytics</h1>

<div class="card">
<canvas id="chart"></canvas>
</div>

<script>
let labels={{labels|safe}};
let values={{values|safe}};

new Chart(document.getElementById("chart"),{
type:"bar",
data:{labels:labels,datasets:[{data:values,backgroundColor:"#3b82f6"}]}
});
</script>

</div>
</body>
</html>